# Red itself is also a requriement, however it is not listed here because
# some people may have special setups (eg dev version installed)

# Required for utils
tabulate
cachetools
asyncache

# Required for optional PandasSQLDriver in utils & betteruptime, stattrack, covidgraph, buttonpoll
pandas

# Cogs
plotly  # betteruptime, stattrack, googletrends, covidgraph, buttonpoll
kaleido  # betteruptime, stattrack, googletrends, covidgraph, buttonpoll
pandas-gbq  # stattrack
gidgethub  # ghissues, gitub
pytrends  # googletrends
psutil  # stattrack, system
markdownify  # status
rapidfuzz  # timechannel
wakeonlan  # wol
